* {
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0px auto;
  max-width: 1600px;
}

.general-header {
  background-color: #ccc;
  padding: 40px 200px;
}

.contacts {
  display: grid;
  grid-template-rows: 51px;
  grid-template-columns: minmax(200px, 2fr) minmax(287px, 1fr) minmax(221px, 1fr) minmax(180px, 1fr);
  grid-column-gap: 57px;
  margin-bottom: 25px;
}
.contacts div img:nth-child(2,3,4){
  display: block;
  float: left;
  padding: 12px;
  margin-right: 19px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #1a9bdc;
}
hr {
  margin-bottom: 33px;
}

.contacts:nth-child(2) {
  grid-template-columns: minmax(281px, auto);
}

.navigation {
  display: grid;
  height: 24px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 24px;
}
.social{
  text-align: right;
}

.general-header li {
  display: inline-block;
  list-style-type: none;
}

.navi a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 20px;
  font-weight: 400;
}

.navi li {
  margin-right: 20px;
}
.social li{
  margin-right: 15px;
}
.social a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.social a:nth-child(1) {
  background: url("img/social.png");
}

.promo {
  background: url("img/layer.jpg") no-repeat center center;
  height: 467px;
  background-size: cover;
}

.promo::after {
  content: "";
  display: block;
  clear: both;
}

.services {
  display: grid;
  grid-template-rows: minmax(200px, 360px);
  grid-template-columns: repeat(4, minmax(264px, 1fr));
  background: linear-gradient(90deg, #43b1d2, #37c3a8);
}

.choose {
  height: 856px;
  padding: 111px 204px 72px 214px;
}

.choose article {}

.grid-article {
  display: grid;
}

/* IDEA: i don't have idea */
